<section id="destinations">
    <div class="container container-destinations">
        <h2 class="destinations-title title">Popular Destinations</h2>
        <p class="destinations-title-coment">Discover the most enchanting corners of the world aboard a luxurious yacht.
            Wherever you dream of going, our fleet is ready to take you to the most stunning shores. Experience the freedom of travel and enjoy 
            every moment on the water.</p>
        <ul class="destinations-list">
            <li class="destinations-item">
                <picture>
                    <source srcset="//src/img/destinations/303-yaht.jpg, /src/img/destinations/303-yaht-2x.jpg 2x" width="303" media="(max-width: 767px)">
                    <source srcset="/src/img/destinations/304-yaht.jpg, /src/img/destinations/304-yaht-2x.jpg 2x" width="304" media="(min-width: 768px) and (max-width: 1279px)">
                    <source srcset="/src/img/destinations/345-yaht.jpg, /src/img/destinations/345-yaht-2x.jpg 2x" width="345" media="(min-width: 1280px)">
                    
                    <img src="/src/img/destinations/303-yaht.jpg" alt="">
                </picture>
                <div class="destinations-info">
                    <h3 class="destinations-cruise">Mediterranean Sea</h3>
                    <div class="destinations-list">
                        <h4 class="destinations-list-description">Best time to visit:</h4>
                        <p class="destinations-list-time">May-October</p>                
                    </div>
                </div>
            </li>
            <li class="destinations-item caribbean">
                <picture>                    
                    <source srcset="/src/img/destinations/304-Caribbean.jpg, /src/img/destinations/304-Caribbean-2x.jpg 2x" width="304" media="(min-width: 768px) and (max-width: 1279px)">
                    <source srcset="/src/img/destinations/345-Caribbean.jpg, /src/img/destinations/345-Caribbean-2x.jpg 2x" width="345" media="(min-width: 1280px)">
                    <img src="/src/img/destinations/304-Caribbean.jpg" alt="Caribbean ship">
                </picture>
                <div class="destinations-info">
                    <h3 class="destinations-cruise">Caribbean</h3>
                    <div class="destinations-list">
                        <h4 class="destinations-list-description">Best time to visit:</h4>
                        <p class="destinations-list-time">December-April</p>                
                    </div>
                </div>
            </li>
            <li class="destinations-item seychelles">
                <picture>
                     <source srcset="/src/img/destinations/345-Seychelles.jpg, /src/img/destinations/345-Seychelles-2x.jpg 2x" width="345" media="(min-width: 1280px)">
                     <img src="/src/img/destinations/345-Seychelles.jpg" alt="Seychelles ship">
                </picture>
                <div class="destinations-info">
                    <h3 class="destinations-cruise">Seychelles</h3>
                    <div class="destinations-list">
                        <h4 class="destinations-list-description">Best time to visit:</h4>
                        <p class="destinations-list-time">April-May</p>                
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
