<section id="destinations">
    <div class="container container-destinations">
        <h2 class="destinations-title title">Popular Destinations</h2>
        <ul class="destinations-list">
            <li class="destinations-item">
                <picture>
                    <img src="" alt="">
                </picture>
                <div class="destinations-info">
                    <h3 class="destinations-cruise">Mediterranean Sea</h3>
                    <div class="destinations-list">
                        <h4 class="destinations-list-description">Best time to visit:</h4>
                        <p class="destinations-list-time">May–October</p>                
                    </div>
                </div>
            </li>
            <li class="destinations-item caribbean">
                <picture></picture>
                <div class="destinations-info">
                    <h3 class="destinations-cruise">Caribbean</h3>
                    <div class="destinations-list">
                        <h4 class="destinations-list-description">Best time to visit:</h4>
                        <p class="destinations-list-time">December–April</p>                
                    </div>
                </div>
            </li>
            <li class="destinations-item seychelles">
                <picture></picture>
                <div class="destinations-info">
                    <h3 class="destinations-cruise">Seychelles</h3>
                    <div class="destinations-list">
                        <h4 class="destinations-list-description">Best time to visit:</h4>
                        <p class="destinations-list-time">April–May</p>                
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
