<footer class="footer">
  <div class="container">

      <div class="footer-logo">
        <span>yachtjet</span>
      </div>
      <ul class="footer-nav">
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#yachts">YACHTS</a></li>
        <li><a href="#reviews">REVIEWS</a></li>
      </ul>
      <div class="footer-icons">
        <ul class="icons">
          <li>
            <svg class="social-icons" width="24" height="24">
              <use href="https://www.instagram.com/goitclub/"></use>
              <use href="img/sprite.svg#icon-instagram"></use>
            </svg>
          </li>
          <li>
            <svg class="social-icons" width="24" height="24">
              <use href="https://www.youtube.com/c/GoIT "></use>
              <use href="img/sprite.svg#icon-youtube"></use>
            </svg>
          </li>
          <li>
            <svg class="social-icons" width="24" height="24">
              <use href="https://www.facebook.com/goITclub/  "></use>
              <use href="img/sprite.svg#icon-facebook"></use>
            </svg>
          </li>
        </ul>
      </div>
      <div class="footer-text">
        <p>No matter which yacht you choose, our experienced crew will ensure that your journey is smooth and enjoyable.</p>



      </div>
      <div class="copyright">
        <ul>
          <li><p>&copy; 2023. Yacht Adventures</p></li>
          <li>
            <p><a href="#">Privacy Police</a></p>
          </li>
        </ul>
      </div>
    </footer>
  </div>
</footer>
