<header class="header">
  <div class="container">
    <div class="header-block">
      <a class="header-logo" href="../index.html">yachtjet</a>
      <nav class="header-nav">
        <ul class="header-list">
          <li class="header-list-item">
            <a class="header-list-link" href="#about">About</a>
          </li>
          <li class="header-list-item">
            <a class="header-list-link" href="#yachts">Yachts</a>
          </li>
          <li class="header-list-item">
            <a class="header-list-link" href="#reviews">Reviews</a>
          </li>
        </ul>
      </nav>
      <ul class="list-social-link">
        <li class="list-item-link">
          <a
            class="list-social-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >
            <svg class="icon-link-social" width="24" height="24">
              <use href="../img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="list-item-link">
          <a
            class="list-social-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            <svg class="icon-link-social" width="24" height="24">
              <use href="../img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="list-item-link">
          <a
            class="list-social-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
          >
            <svg class="icon-link-social" width="24" height="24">
              <use href="../img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="header-mobmenu-buttons">
        <button
          class="header-open-mobmenu-btn"
          type="button"
          data-mobmenu-open
          aria-label="Mobile Menu Open Button"
        >
          <svg class="header-open-mobmenu-icon" width="28px" height="28px">
            <use href="./img/sprite.svg#icon-menu-duo"></use>
          </svg>
        </button>
        <button
          class="header-close-mobmenu-btn"
          type="button"
          data-mobmenu-close
          data-close-button
          aria-label="Mobile Menu Close Button"
        >
          <svg class="header-close-mobmenu-icon" width="28px" height="28px">
            <use href="./img/sprite.svg#icon-close-sharp"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
