<header class="header">
  <div class="container">
    Header
    <!-- <div class="header-logo logo">yachtjet</div>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <button type="button" class="header-nav-item-btn">About</button>
          <button type="button" class="header-nav-item-btn">Yachts</button>
          <button type="button" class="header-nav-item-btn">Reviews</button>
        </li>
      </ul>
    </nav>
    <address>
      <ul class="social-list">
        <li class="social-list-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="social-list-item-link"
          >
            <svg class="social-link-icon" width="24px" height="24px">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-list-item">
          <a
            href="https://www.youtube.com/c/GoIT "
            class="social-list-item-link"
          >
            <svg class="social-link-icon" width="24px" height="24px">
              <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="social-list-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="social-list-item-link"
          >
            <svg class="social-link-icon" width="24px" height="24px">
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </address>
    <button type="button" class="header-mobmenu-btn">
      <svg
        class="header-mobmenu-icon"
        width="24px"
        height="24px"
        style="stroke: black"
      >
        <use href="./img/sprite.svg#icon-menu-duo"></use>
      </svg>
    </button> -->
  </div>
</header>
