<header class="header">
  <div class="container">
    <div class="header-block">
      <a class="header-logo" href="/">yachtjet</a>
      <div class="header-mobmenu-buttons">
        <button class="header-open-mobmenu-btn" type="button" data-mobmenu-open>
          <svg class="header-open-mobmenu-icon" width="28px" height="28px">
            <use href="./img/sprite.svg#icon-menu-duo"></use>
          </svg>
        </button>
        <button
          class="header-close-mobmenu-btn"
          type="button"
          data-mobmenu-close
          data-close-button
        >
          <svg class="header-close-mobmenu-icon" width="28px" height="28px">
            <use href="./img/sprite.svg#icon-close-sharp"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
