<div class="mobmenu-backdrop" data-mobmenu>
  <div class="container">
    <!-- <div class="mobmenu-head-block">
      <div class="mobmenu-head-logo">yachtjet</div>
      <button class="mobmenu-head-close-btn" type="button" data-mobmenu-close>
        <svg class="mobmenu-head-close-btn-icon" width="28px" height="28px">
          <use href="../img/sprite.svg#icon-close-sharp"></use>
        </svg>
      </button>
    </div> -->
    <nav class="mobmenu-nav-block">
      <ul class="mobmenu-nav-list">
        <li class="mobmenu-nav-item">
          <a class="mobmenu-nav-link" href="#about">About</a>
        </li>
        <li class="mobmenu-nav-item">
          <a class="mobmenu-nav-link" href="#yachts">Yachts</a>
        </li>
        <li class="mobmenu-nav-item">
          <a class="mobmenu-nav-link" href="#destinations">Destinations</a>
        </li>
        <li class="mobmenu-nav-item">
          <a class="mobmenu-nav-link" href="#reviews">Reviews</a>
        </li>
      </ul>
    </nav>
    <ul class="mobmenu-social-list">
      <li class="mobmenu-social-item">
        <a
          class="mobmenu-social-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
        >
          <svg class="mobmenu-social-icon" width="24px" height="24px">
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="mobmenu-social-item">
        <a
          class="mobmenu-social-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
        >
          <svg class="mobmenu-social-icon" width="24px" height="24px">
            <use href="./img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="mobmenu-social-item">
        <a
          class="mobmenu-social-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
        >
          <svg class="mobmenu-social-icon" width="24px" height="24px">
            <use href="./img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
