<section id="section-rent">
  <div class="container rent-container">
    <div class="fullform">
      <h2 class="title">Rent a yacht now</h2>
      <form class="rent-form">
        <div class="con-inputs">
          <input
            class="rent-input"
            type="text"
            name="username"
            id="username"
            placeholder="Full Name"
            aria-label="Full Name"
            autocomplete="name"
            required
          />
          <input
            class="rent-input"
            type="email"
            name="user-email"
            id="user-email"
            placeholder="Email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            aria-label="Email"
            autocomplete="email"
            required
          />
          <input
            class="rent-input"
            type="tel"
            name="user-phone"
            id="user-phone"
            placeholder="Phone number"
            pattern="\+\d{2}-\d{3}-\d{3}-\d{2}-\d{2}"
            aria-label="Phone number"
            autocomplete="tel"
            required
          />
          <textarea
            class="rent-input rent-textarea"
            name="user-comment"
            id="user-comment"
            placeholder="Comment"
            aria-label="Comment"
            required
          ></textarea>
        </div>
        <button class="btn-rent" type="submit">Send</button>
      </form>
    </div>
    <picture>
      <!-- Mobile -->
      <source
        srcset="
          ./img/rent/image-rent-mobile.png    1x,
          ./img/rent/image-rent-mobile@2x.png 2x
        "
        media="(max-width: 767px)"
        width="335"
      />

      <!-- Tablet -->
      <source
        srcset="
          ./img/rent/image-rent-tablet.png    1x,
          ./img/rent/image-rent-tablet@2x.png 2x
        "
        media="(max-width: 1279px)"
        width="704"
      />

      <!-- Desktop -->
      <source
        srcset="
          ./img/rent/image-rent-desktop-small.png    1x,
          ./img/rent/image-rent-desktop-small@2x.png 2x
        "
        media="(min-width: 1280px)"
        width="658"
      />

      <!-- Fallback Image -->
      <img
        src="./img/rent/image-rent-mobile.png"
        alt="A large sailing yacht in the night sea"
      />
    </picture>
  </div>
</section>
