<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-title">
      YachtJet take pride in providing the best possible service and experience
      to our customers
    </h2>
    <p class="reviews-text">
      Our customers have enjoyed unforgettable moments on our yachts. Don't just
      take our word for it - read on to find out what they have to say about
      their journey with us.
    </p>

    <ul class="reviews-list">
      <li class="reviews-container">
        <picture>
          <source
            srcset="./img/reviews/jw@2x.jpg 2x, ./img/reviews/jw.jpg 1x"
          />
          <img
            class="reviews-img"
            src="./img/reviews/jw.jpg"
            width="56"
            height="56"
            alt="John Wax"
          />
        </picture>
        <h3 class="reviews-list-subtitle">John Wax</h3>
        <p class="reviews-list-text">
          I rented the Lagoon 620 with my family for a week-long vacation and it
          was the best decision ever. The yacht was spacious, comfortable, and
          luxurious, and the crew took care of everything.
        </p>
      </li>

      <li class="reviews-container none">
        <picture>
          <source
            srcset="./img/reviews/vr.jpg 1x, ./img/reviews/vr@2x.jpg 2x"
          />
          <img
            class="reviews-img"
            src="./img/reviews/vr.jpg"
            width="56"
            height="56"
            alt="Victoria Romashenko"
          />
        </picture>
        <h3 class="reviews-list-subtitle">Victoria Romashenko</h3>
        <p class="reviews-list-text">
          The Sunseeker Manhattan 66 was the perfect choice for our romantic
          getaway. The yacht was beautifully designed, with all the amenities we
          needed, and the crew was attentive and friendly.
        </p>
      </li>

      <li class="reviews-container none-2">
        <picture>
          <source
            srcset="./img/reviews/it.jpg 1x, ./img/reviews/it@2x.jpg 2x"
          />
          <img
            class="reviews-img"
            src="./img/reviews/it.jpg"
            width="56"
            height="56"
            alt="Ihor Trachuk"
          />
        </picture>
        <h3 class="reviews-list-subtitle">Ihor Trachuk</h3>
        <p class="reviews-list-text">
          The Azimut 80 was the most luxurious yacht I've ever been on. The
          cabins were spacious and elegant, and the outdoor areas were perfect
          for relaxing and entertaining. Worth every penny!
        </p>
      </li>
    </ul>
  </div>
</section>
