<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YachtJet</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css"
        integrity="sha512-q6WgHqiHlKyOqslT/lgBgodhd03Wp4BEqKeW6nNtlOY4quzyG3VoQKFrieaCeSnuVseNKRGpGeDU3qPmabCANg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,300..500;1,14..32,300..500&display=swap"
        rel="stylesheet" />
    <!-- <link rel="stylesheet" href="../css/reviews.css" /> -->
    <link rel="stylesheet" href="../css/base.css" />
</head>
<body>
<section class="reviews">
    <div class="container review">
        <h2 class="reviews-title">YachtJet take pride in providing the best possible service and experience to our customers</h2>
        <p class="reviews-text">Our customers have enjoyed unforgettable moments on our yachts. Don't just take our word for it - read on to find out
        what they have to say about their journey with us.
        </p>

        <ul class="reviews-list">
            <li class="reviews-container">
            <img class="reviews-img" src="./img/reviews/jw.jpg" width="56" height="56" alt="John Wax">
            <h3 class="reviews-list-subtitle">John Wax</h3>
            <p class="reviews-list-text">I rented the Lagoon 620 with my family for a week-long vacation and it was the best
    decision ever. The yacht was
    spacious, comfortable, and luxurious, and the crew took care of everything.
            </p>
            </li>
        
            <li class="reviews-container none">
            <img class="reviews-img" src="./img/reviews/vr.jpg" width="56" height="56" alt="John Wax">
            <h3 class="reviews-list-subtitle">Victoria Romashenko</h3>
            <p class="reviews-list-text">The Sunseeker Manhattan 66 was the perfect choice for our romantic getaway. The yacht was beautifully designed, with all
            the amenities we needed, and the crew was attentive and friendly.
            </p>
            </li>

            <li class="reviews-container none-2">
            <img class="reviews-img" src="./img/reviews/it.jpg" width="56" height="56" alt="John Wax">
            <h3 class="reviews-list-subtitle">Ihor Trachuk</h3>
            <p class="reviews-list-text">The Azimut 80 was the most luxurious yacht I've ever been on. The cabins were spacious and elegant, and the outdoor
            areas were perfect for relaxing and entertaining. Worth every penny!
            </p>
            </li>
        </ul>  
    </div>
</section>
</body></html>
