<section id="yachts">
  <div class="container container-yachts">
    <h2 class="yacht-title title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="yacht-list">
      <li class="yacht-item">
        <picture
          ><source
            srcset="
              ./img/choose-your-yacht/arrow-302.jpg    1x,
              ./img/choose-your-yacht/arrow-302@2x.jpg 2x
            "
            width="302"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/choose-your-yacht/arrow-304.jpg    1x,
              ./img/choose-your-yacht/arrow-304@2x.jpg 2x
            "
            width="304"
            media="(min-width: 768px) and (max-width: 1279px)"
          />
          <source
            srcset="
              ./img/choose-your-yacht/arrow-345.jpg    1x,
              ./img/choose-your-yacht/arrow-345@2x.jpg 2x
            "
            width="345"
            media="(min-width: 1280px)"
          />
          <img
            src="./img/choose-your-yacht/arrow-302.jpg"
            alt="A sleek sailing yacht with a minimalist and modern design. It features a spacious deck and large windows, allowing for a luxurious experience while cruising in shallow, clear waters."
          />
        </picture>
        <div class="yacht-info">
          <div class="yacht-wrapper">
            <h3 class="yacht-model">Arrow</h3>
            <p class="yacht-class">Luxury yachts</p>
          </div>
          <ul class="yacht-charesteristic-list">
            <li class="yacht-characteristic-item">
              <h4 class="yacht-characteristic-name">Length</h4>
              <p class="yacht-characteristic-info">48m(155ft)</p>
            </li>
            <li class="yacht-characteristic-item">
              <h4 class="yacht-characteristic-name">Builder</h4>
              <p class="yacht-characteristic-info">Admiral</p>
            </li>
            <li class="yacht-characteristic-item">
              <h4 class="yacht-characteristic-name">Built</h4>
              <p class="yacht-characteristic-info">2021</p>
            </li>
            <li class="yacht-characteristic-item">
              <h4 class="yacht-characteristic-name">Guests</h4>
              <p class="yacht-characteristic-info">11 in 5 cabins</p>
            </li>
            <li class="yacht-characteristic-item">
              <h4 class="yacht-characteristic-name">Price</h4>
              <p class="yacht-characteristic-info">€33,500,000</p>
            </li>
          </ul>
        </div>
      </li>
      <li class="yacht-item benetti">
        <picture>
          <source
            srcset="
              ./img/choose-your-yacht/benetti-304.jpg    1x,
              ./img/choose-your-yacht/benetti-304@2x.jpg 2x
            "
            width="304"
            media="(min-width: 767px) and (max-width: 1279px)"
          />
          <source
            srcset="
              ./img/choose-your-yacht/benetti-345.jpg    1x,
              ./img/choose-your-yacht/benetti-345@2x.jpg 2x
            "
            width="345"
            media="(min-width: 1280px)"
          />
          <img
            src="./img/choose-your-yacht/benetti-304.jpg"
            alt="A large sailing yacht with multiple masts and an innovative structure. The curved deck and streamlined hull suggest a focus on both elegance and efficiency in wind-powered sailing."
          />
        </picture>
        <div class="yacht-info">
          <div class="yacht-wrapper">
            <h3 class="yacht-model bennetti-wrap">BENETTI OASIS 40M BO122</h3>
            <p class="yacht-class">Luxury Yachts</p>
          </div>
          <ul class="yacht-charesteristic-list">
            <li class="yacht-characteristic-item">
              <h4 class="yacht-characteristic-name">Length</h4>
              <p class="yacht-characteristic-info">41m (133ft)</p>
            </li>
            <li class="yacht-characteristic-item">
              <h4 class="yacht-characteristic-name">Shipyard</h4>
              <p class="yacht-characteristic-info">Benetti</p>
            </li>
            <li class="yacht-characteristic-item">
              <h4 class="yacht-characteristic-name">Built</h4>
              <p class="yacht-characteristic-info">2025</p>
            </li>
            <li class="yacht-characteristic-item">
              <h4 class="yacht-characteristic-name">Guests</h4>
              <p class="yacht-characteristic-info">10 in 5 cabins</p>
            </li>
            <li class="yacht-characteristic-item">
              <h4 class="yacht-characteristic-name">Price</h4>
              <p class="yacht-characteristic-info">€23,210,000</p>
            </li>
          </ul>
        </div>
      </li>
      <li class="yacht-item belle-anna">
        <picture>
          <source
            srcset="
              ./img/choose-your-yacht/belle-anna-345.jpg    1x,
              ./img/choose-your-yacht/belle-anna-345@2x.jpg 2x
            "
            width="345"
            media="(min-width: 1280px)"
          />
          <img
            src="./img/choose-your-yacht/belle-anna-345.jpg"
            alt="A futuristic motor yacht with an angular and aggressive design. The yacht appears to be a high-performance vessel with a cutting-edge aesthetic, likely designed for speed and luxury."
          />
        </picture>
        <div class="yacht-info">
          <div class="yacht-wrapper">
            <h3 class="yacht-model">Belle anna</h3>
            <p class="yacht-class">Luxury yachts</p>
          </div>
          <ul class="yacht-charesteristic-list">
            <li class="yacht-characteristic-item">
              <h4 class="yacht-characteristic-name">Length</h4>
              <p class="yacht-characteristic-info">50m(155ft)</p>
            </li>
            <li class="yacht-characteristic-item">
              <h4 class="yacht-characteristic-name">Shipyard</h4>
              <p class="yacht-characteristic-info">Isa</p>
            </li>
            <li class="yacht-characteristic-item">
              <h4 class="yacht-characteristic-name">Built</h4>
              <p class="yacht-characteristic-info">2012</p>
            </li>
            <li class="yacht-characteristic-item">
              <h4 class="yacht-characteristic-name">Guests</h4>
              <p class="yacht-characteristic-info">12 in 6 cabins</p>
            </li>
            <li class="yacht-characteristic-item">
              <h4 class="yacht-characteristic-name">Price</h4>
              <p class="yacht-characteristic-info">€21,000,000</p>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <button class="yacht-rental" type="button">Yacht rental</button>
  </div>
</section>
