<section>
  <div class="container">
    <h2 class="yacht-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="yacht-list">
      <li class="yacht-item">
        <picture></picture>
        <div class="yacht-wrapper">
          <h3 class="yacht-model"></h3>
          <p class="yacht-class"></p>
        </div>
        <ul class="yacht-charesteristic-list">
          <li class="yacht-characteristic-item">
            <h4 class="yacht-characteristic-name"></h4>
            <p class="yacht-characteristic-info"></p>
          </li>
          <li class="yacht-characteristic-item">
            <h4 class="yacht-characteristic-name"></h4>
            <p class="yacht-characteristic-info"></p>
          </li>
          <li class="yacht-characteristic-item">
            <h4 class="yacht-characteristic-name"></h4>
            <p class="yacht-characteristic-info"></p>
          </li>
          <li class="yacht-characteristic-item">
            <h4 class="yacht-characteristic-name"></h4>
            <p class="yacht-characteristic-info"></p>
          </li>
          <li class="yacht-characteristic-item">
            <h4 class="yacht-characteristic-name"></h4>
            <p class="yacht-characteristic-info"></p>
          </li>
        </ul>
      </li>
      <li class="yacht-item">
        <picture></picture>
        <div class="yacht-wrapper">
          <h3 class="yacht-model"></h3>
          <p class="yacht-class"></p>
        </div>
        <ul class="yacht-charesteristic-list">
          <li class="yacht-characteristic-item">
            <h4 class="yacht-characteristic-name"></h4>
            <p class="yacht-characteristic-info"></p>
          </li>
          <li class="yacht-characteristic-item">
            <h4 class="yacht-characteristic-name"></h4>
            <p class="yacht-characteristic-info"></p>
          </li>
          <li class="yacht-characteristic-item">
            <h4 class="yacht-characteristic-name"></h4>
            <p class="yacht-characteristic-info"></p>
          </li>
          <li class="yacht-characteristic-item">
            <h4 class="yacht-characteristic-name"></h4>
            <p class="yacht-characteristic-info"></p>
          </li>
          <li class="yacht-characteristic-item">
            <h4 class="yacht-characteristic-name"></h4>
            <p class="yacht-characteristic-info"></p>
          </li>
        </ul>
      </li>
      <li class="yacht-item">
        <picture></picture>
        <div class="yacht-wrapper">
          <h3 class="yacht-model"></h3>
          <p class="yacht-class"></p>
        </div>
        <ul class="yacht-charesteristic-list">
          <li class="yacht-characteristic-item">
            <h4 class="yacht-characteristic-name"></h4>
            <p class="yacht-characteristic-info"></p>
          </li>
          <li class="yacht-characteristic-item">
            <h4 class="yacht-characteristic-name"></h4>
            <p class="yacht-characteristic-info"></p>
          </li>
          <li class="yacht-characteristic-item">
            <h4 class="yacht-characteristic-name"></h4>
            <p class="yacht-characteristic-info"></p>
          </li>
          <li class="yacht-characteristic-item">
            <h4 class="yacht-characteristic-name"></h4>
            <p class="yacht-characteristic-info"></p>
          </li>
          <li class="yacht-characteristic-item">
            <h4 class="yacht-characteristic-name"></h4>
            <p class="yacht-characteristic-info"></p>
          </li>
        </ul>
      </li>
    </ul>
    <button class="yacht-rental" type="button">Yacht rental</button>
  </div>
</section>
