<section class="section-yachts">
  <div class="container container-yachts">
    <h2 class="yacht-title title">
      Choose your dream <br />
      yacht and sail away into the sunset
    </h2>
    <ul class="yacht-list">
      <li class="yacht-item">
        <picture
          ><source
            srcset="
              ./img/choose-your-yacht/arrow-302.jpg    1x,
              ./img/choose-your-yacht/arrow-302@2x.jpg 2x
            "
            width="302"
            media="(max-width: 768px)"
          />
          <source
            srcset="
              ./img/choose-your-yacht/arrow-304.jpg    1x,
              ./img/choose-your-yacht/arrow-304@2x.jpg 2x
            "
            width="304"
            media="(min-width: 768px) and (max-width: 1280px)"
          />
          <source />
          <source />
          <img
            src="./img/choose-your-yacht/arrow-302.jpg"
            alt="A sleek sailing yacht with a minimalist and modern design. It features a spacious deck and large windows, allowing for a luxurious experience while cruising in shallow, clear waters."
          />
        </picture>
        <div class="yacht-wrapper">
          <h3 class="yacht-model title">Arrow</h3>
          <p class="yacht-class">Luxury yachts</p>
        </div>
        <ul class="yacht-charesteristic-list">
          <li class="yacht-characteristic-item">
            <h4 class="yacht-characteristic-name">Length</h4>
            <p class="yacht-characteristic-info">48m(155ft)</p>
          </li>
          <li class="yacht-characteristic-item">
            <h4 class="yacht-characteristic-name">Builder</h4>
            <p class="yacht-characteristic-info">Admiral</p>
          </li>
          <li class="yacht-characteristic-item">
            <h4 class="yacht-characteristic-name">Built</h4>
            <p class="yacht-characteristic-info">2021</p>
          </li>
          <li class="yacht-characteristic-item">
            <h4 class="yacht-characteristic-name">Guests</h4>
            <p class="yacht-characteristic-info">11 in 5 cabins</p>
          </li>
          <li class="yacht-characteristic-item">
            <h4 class="yacht-characteristic-name">Price</h4>
            <p class="yacht-characteristic-info">€33,500,000</p>
          </li>
        </ul>
      </li>
      <li class="yacht-item benetti">
        <picture>
          <img
            src=""
            alt="A large sailing yacht with multiple masts and an innovative structure. The curved deck and streamlined hull suggest a focus on both elegance and efficiency in wind-powered sailing."
          />
        </picture>
        <div class="yacht-wrapper">
          <h3 class="yacht-model"></h3>
          <p class="yacht-class"></p>
        </div>
        <ul class="yacht-charesteristic-list">
          <li class="yacht-characteristic-item">
            <h4 class="yacht-characteristic-name">Length</h4>
            <p class="yacht-characteristic-info"></p>
          </li>
          <li class="yacht-characteristic-item">
            <h4 class="yacht-characteristic-name">Builder</h4>
            <p class="yacht-characteristic-info"></p>
          </li>
          <li class="yacht-characteristic-item">
            <h4 class="yacht-characteristic-name">Built</h4>
            <p class="yacht-characteristic-info"></p>
          </li>
          <li class="yacht-characteristic-item">
            <h4 class="yacht-characteristic-name">Guests</h4>
            <p class="yacht-characteristic-info"></p>
          </li>
          <li class="yacht-characteristic-item">
            <h4 class="yacht-characteristic-name">Price</h4>
            <p class="yacht-characteristic-info"></p>
          </li>
        </ul>
      </li>
      <li class="yacht-item belle-anna">
        <picture>
          <img
            src=""
            alt="A futuristic motor yacht with an angular and aggressive design. The yacht appears to be a high-performance vessel with a cutting-edge aesthetic, likely designed for speed and luxury."
          />
        </picture>
        <div class="yacht-wrapper">
          <h3 class="yacht-model"></h3>
          <p class="yacht-class"></p>
        </div>
        <ul class="yacht-charesteristic-list">
          <li class="yacht-characteristic-item">
            <h4 class="yacht-characteristic-name">Length</h4>
            <p class="yacht-characteristic-info"></p>
          </li>
          <li class="yacht-characteristic-item">
            <h4 class="yacht-characteristic-name">Builder</h4>
            <p class="yacht-characteristic-info"></p>
          </li>
          <li class="yacht-characteristic-item">
            <h4 class="yacht-characteristic-name">Built</h4>
            <p class="yacht-characteristic-info"></p>
          </li>
          <li class="yacht-characteristic-item">
            <h4 class="yacht-characteristic-name">Guests</h4>
            <p class="yacht-characteristic-info"></p>
          </li>
          <li class="yacht-characteristic-item">
            <h4 class="yacht-characteristic-name">Price</h4>
            <p class="yacht-characteristic-info"></p>
          </li>
        </ul>
      </li>
    </ul>
    <button class="yacht-rental" type="button">Yacht rental</button>
  </div>
</section>
