.section-about .container {
  padding-bottom: 40px;
  padding-top: 123px;
}

.about-container {
  font-family: Inter, sans-serif;
  background-color: var(--light-color);
  border-radius: 24px 24px 0 0;
  overflow: hidden;
}

.wrapper-text {
  padding: 40px 20px;
}

.about-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--medium-color);
  margin-bottom: 40px;
}

.about-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--medium-color);
  margin-bottom: 20px;
}

.about-subtext {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: var(--deep-dark-color);
  opacity: 0.4;
}

.wrapper-about {
  border-radius: 0 0 29px 29px;
  overflow: hidden;
}

.about-picture {
  border-radius: 0 0 29px 29px;
}

@media screen and (min-width: 768px) {
  .section-about .container {
    padding-top: 108px;
    padding-bottom: 75px;
  }

  .about-title {
    width: 536px;
    font-size: 48px;
    margin-bottom: 50px;
  }

  .about-text {
    width: 370px;
    font-size: 23px;
  }
  .about-subtext {
    width: 385px;
    font-size: 13px;
    line-height: 1.15;
  }

  .wrapper-text {
    padding: 50px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .about-title {
    width: 537px;
    font-size: 48px;
  }

  .about-text {
    width: 370px;
    font-size: 23px;
  }
  .about-subtext {
    width: 385px;
    font-size: 13px;
    line-height: 1.15;
  }

  .wrapper-text {
    display: flex;
    justify-content: space-between;
    padding: 50px;
  }
}
