/* debug styles TODO clear before deploiment */
* {
  /* outline: 1px solid #7efff02e !important; */
  /* background-color: hsl(50 100% 50% / 0.1) !important; */
  /* box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5) !important; */
  /* color: hsla(0, 0%, 0%, 0.49) !important; */
}
/* end of debug styles TODO clear before deploiment */

/* inter-300 - latin */
@font-face {
  font-family: 'Inter';
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/inter-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inter-400.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500 - latin */
@font-face {
  font-family: 'Inter';
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/inter-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  font-family: Inter, sans-serif;
  --deep-dark-color: #040306;
  --semi-dark-color: #0e1823;
  --medium-color: #1b414b;
  --light-color: #fbfbfb;
  --btn-header-bg-color: #1b414b80;
  --btn-footer-bg-color: #fafafa4d;
  --bg-gradient: linear-gradient(
    360deg,
    rgb(14 24 35 / 93%) 15.05%,
    rgb(14 24 35 / 40%) 75.3%,
    rgb(14 24 35 / 0%) 98.27%
  );
  --bg-image-set-tel: image-set(
    url('/img/background/bg-tel.jpg') 1x,
    url('/img/background/bg-tel@2x.webp') 2x
  );
  --bg-image-set-tab: image-set(
    url('/img/background/bg-tab.jpg') 1x,
    url('/img/background/bg-tab@2x.webp') 2x
  );
  --bg-image-set-dsk: image-set(
    url('/img/background/bg-desk.jpg') 1x,
    url('/img/background/bg-desk@2x.webp') 2x
  );
}

body {
  background-color: var(--semi-dark-color);
  color: var(--light-color);
}

.title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}
