.container {
    min-width: 320px;
    max-width: 375px;
    margin: 0 auto;
}
.container-destinations {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}
.destinations-title {
    font-weight: 500;
    font-size: 48px;
    font-family: Inter;
    line-height: 48px;
    letter-spacing: -2%;
    text-align: center;
    color: #FBFBFB;

}
.title {

}
.destinations-title-coment {
font-family: Inter;
font-weight: 300;
font-size: 16px;
line-height: 140%;
letter-spacing: 0%;
text-align: center;


}
.destinations-list {
width: 335;
height: 412;
border-radius: 24px;

}
.destinations-item {
    background-color: var(--light-color);
    padding: 16px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.destinations-info {
}
.destinations-cruise {
color: #0E1823;
font-family: Inter;
font-weight: 500;
font-size: 16px;
line-height: 120%;
letter-spacing: -4.5%;
text-transform: uppercase;

}
.destinations-list-description {
color: #0E1823;
font-family: Inter;
font-weight: 500;
font-size: 14px;
line-height: 118%;
letter-spacing: 3%;
text-transform: uppercase;

}
.destinations-list-time {
color: #0E1823;
font-family: Inter;
font-weight: 400;
font-size: 14px;
line-height: 118%;
letter-spacing: 3%;

}
.caribbean {
}
.seychelles {
}