


.container-destinations {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    /* min-width: 320px;
    max-width: 375px; */
    margin: 0 auto;
}

.destinations-title {
    width: 335px;
    font-weight: 500;
    font-size: 48px;
    font-family: Inter;
    line-height: 48px;
    letter-spacing: -2%;
    text-align: center;
    color: #FBFBFB;
    margin-bottom: 40px;

}


.destinations-title-coment {
width: 1013px;
font-family: Inter;
font-weight: 300;
font-size: 16px;
line-height: 140%;
letter-spacing: 0%;
text-align: center;
margin-bottom: 48px;


}
.destinations-list {
    display: flex;   
    border-radius: 24px;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 auto;

}
.destinations-item {
    background-color: var(--light-color);
    padding: 16px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.destinations-info {
    padding: 16px;
    width: 100%;
}
.destinations-cruise {
color: #0E1823;
font-family: Inter;
font-weight: 500;
font-size: 16px;
line-height: 120%;
letter-spacing: -4.5%;
text-transform: uppercase;
margin-top: 16px;
margin-bottom: 32px;
position: relative;
}

.destinations-cruise::after {
    display: flex;
    content: '';
    border-radius: 2px;
    width: 272px;
    height: 1px;
    background: #0E1823;
    position: absolute;    
    bottom: -15px;
}

.destinations-list-description {
color: #0E1823;
font-family: Inter;
font-weight: 500;
font-size: 14px;
line-height: 118%;
letter-spacing: 3%;
text-transform: uppercase;

}
.destinations-list-time {
color: #0E1823;
font-family: Inter;
font-weight: 400;
font-size: 14px;
line-height: 118%;
letter-spacing: 3%;

}






@media screen and (max-width: 767px) {
    .caribbean {
        display: none;
    }
    
}

@media screen and (max-width: 1279px) {
    .seychelles {
        display: none;
    }
    .destinations-title-coment {
        display: none;
    }
}


@media screen and (min-width: 768px) {

    

    .container-destinations {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .destinations-list {
        display: flex;        
        height: 412px;
        gap: 32px;
    }

    

    .destinations-title {
        width: 704px;
        margin-bottom: 50px;
        font-size: 48px;
        text-indent: 6px;
        margin: 0 auto;
        text-align: center;
    }

    
}

@media screen and (min-width: 1280px) {
    .destinations-list {
        gap: 25px;
        
        
    }

    .destinations-title {
        width: 538px;
        margin-bottom: 24px;
        font-size: 48px;
        text-indent: 0;
    }

    .destinations-cruise::after {
        
        border-radius: 2px;
        width: 328px;
        height: 1px;
        background: #0E1823;
        position: absolute;    
        bottom: -16px;
    }
}
