.footer {
  display: flex;
  background: #1b414b;
  color: #fbfbfb;
  border-radius: 24px 24px 0 0;

  width: 355px;
  height: 412px;
  margin-left: 10px;
  margin-right: 10px;
}

/* #region Logo */
.logo {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 40px;
  margin-left: 14px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  position: absolute;
}

/* #region Footer navigation */
.footer-nav {
  list-style: none;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
  margin-top: 40px;
  margin-right: 14px;
  margin-left: 103px;
}

.footer-nav li {
  display: flex;

  align-items: center;
  justify-content: center;
  width: 50px;
  height: 30px;
  color: #fbfbfb;
  background: rgba(251, 251, 251, 0.3);
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 9px;
}

.footer-nav li:hover {
  color: #1b414b;
  background-color: #fbfbfb; /* Изменение цвета фона при наведении */
}

/* #region Footer icons */
.icons {
  list-style: none;
  display: flex;
  gap: 8px;
  margin-right: 117px;
  margin-left: 118px;
  padding-top: 80px;
  justify-content: center;
}

.footer-icons use {
  fill: #fbfbfb;
}

.footer-icons use:hover {
  opacity: 80%;
}

/* #region Footer text */
.footer-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin-top: 40px;
  margin-left: 22px;
  margin-right: 22px;
}

/* #region Copyright */
.copyright {
  margin-top: 82px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #fbfbfb;
  line-height: 118%;
  letter-spacing: 0.03em;
  display: flex;
  opacity: 40%;

  justify-content: center;
}

.copyright ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.copyright li {
  display: flex;
  align-items: center;
}
/* #region Footer Media queries */
@media (max-width: 1280px) {
  footer {
    max-width: 100%;
    margin: 20px;
  }
  .footer-nav li {
    width: 70px;
    font-size: 8px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-nav {
    gap: 12px;
  }

  .footer-nav li {
    width: 100px;
    height: 50px;
    font-size: 14px;
  }

  .footer-icons img {
    width: 32px;
    height: 32px;
  }

  .footer-text {
    font-size: 16px;
  }
}
