.header .container {
  position: relative;
  padding-block: 20px;
}

.header .container::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 812px;
  background-color: aqua;
  z-index: -1;
  background: linear-gradient(
      360deg,
      rgb(14 24 35 / 93%) 15.05%,
      rgb(14 24 35 / 40%) 75.3%,
      rgb(14 24 35 / 0%) 98.27%
    ),
    image-set(
      url('/img/background/bg-tel.jpg') 1x,
      url('/img/background/bg-tel@2x.jpg') 2x
    );
}

@media only screen and (min-width: 768px) {
  .header .container::after {
    height: 962px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background: linear-gradient(
        360deg,
        rgb(14 24 35 / 93%) 15.05%,
        rgb(14 24 35 / 40%) 75.3%,
        rgb(14 24 35 / 0%) 98.27%
      ),
      image-set(
        url('/img/background/bg-tab.jpg') 1x,
        url('/img/background/bg-tab@2x.jpg') 2x
      );
  }
}

@media only screen and (min-width: 1280px) {
  .header .container::after {
    height: 800px;
    background: linear-gradient(
        360deg,
        rgb(14 24 35 / 93%) 15.05%,
        rgb(14 24 35 / 40%) 75.3%,
        rgb(14 24 35 / 0%) 98.27%
      ),
      image-set(
        url('/img/background/bg-desk.jpg') 1x,
        url('/img/background/bg-desk@2x.jpg') 2x
      );
  }
}

.header {
}

.header-block {
  position: relative;
  border: 1px solid var(--light-color);
  background-color: var(--light-color);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 20px;
  z-index: 9999;
}

.header-logo {
  color: var(--medium-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
}

.header-mobmenu-buttons {
  position: relative;
  width: 28px;
  height: 28px;
}

.header-open-mobmenu-btn,
.header-close-mobmenu-btn {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  background-color: var(--light-color);
}
.header-close-mobmenu-btn {
  display: none;
}
.header-close-mobmenu-btn.is-open {
  display: block;
}

.header-open-mobmenu-icon {
  display: block;
  stroke: #055545;
}
.header-close-mobmenu-icon {
  display: block;
  fill: #055545;
}

.header-logo {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #1b414b;
}
.header-close-mobmenu-btn {
}
.header-close-mobmenu-icon {
}
.header-open-mobmenu-btn {
}
.header-open-mobmenu-icon {
}

.header-nav {
  display: none;
}

.list-social-link {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-mobmenu-buttons {
    display: none;
  }
  .header .container {
    padding-block: 32px;
  }
  .header-block {
    padding: 4px 28px;
  }
  .header-logo {
    font-size: 20px;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .header-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 4px;
  }
  .header-list-link {
    display: block;
    font-weight: 400;
    font-size: 9px;
    line-height: 130%;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
    background-color: rgba(27, 65, 75, 0.5);
    border-radius: 8px;
    padding: 15px 25px;
    transition: background-color 250ms ease;
  }
  .list-social-link {
    display: flex;
    flex-direction: row;
    gap: 11px;
    align-items: center;
    justify-content: center;
  }
  .list-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-link-social {
    fill: #1b414b;
    transition: fill 250ms ease;
  }
  .header-list-link:hover,
  .header-list-link:focus {
    background-color: #1b414b;
  }

  .icon-link-social:hover,
  .icon-link-social:focus {
    fill: #062730;
  }
}

@media screen and (min-width: 1280px) {
  .header-block {
    padding: 4px 30px;
  }
  .header-list-link {
    cursor: pointer;
  }
}
