.hero-container {
  padding-top: 178px;
  padding-bottom: 122px;
}

.title-hero {
  max-width: 1001px;
  margin-inline: auto;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--light-color);
  margin-bottom: 24px;
}

.text-hero {
  max-width: 597px;
  margin-inline: auto;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 38px;
}

.nav-hero {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--light-color);
  flex-direction: row;
  border-radius: 15px;
  padding: 14px 32px;
  min-width: 141px;
  height: 46px;
  background: var(--medium-color);
  display: flex;
  justify-self: center;
  align-items: center;
  cursor: pointer;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-hero:hover,
.nav-hero:focus {
  background: var(--light-color);
  color: var(--medium-color);
}

@media only screen and (min-width: 768px) {
  .hero-container {
    padding-top: 180px;
    padding-bottom: 108px;
  }

  .title-hero {
    font-size: 70px;
  }

  .text-hero {
    margin-bottom: 48px;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 48px;
  }

  .nav-hero {
    min-width: 179px;
    height: 52px;
    font-size: 18px;
    line-height: 1.1;
    padding: 16px 40px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-container {
    padding-top: 123px;
    padding-bottom: 90px;
  }

  .title-hero {
    font-size: 80px;
  }

  .text-hero {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 48px;
  }

  .nav-hero {
    font-size: 18px;
    line-height: 1.1;
    display: flex;
    padding: 16px 40px;
    min-width: 179px;
    height: 52px;
  }
}
