.container {
}
.rent-container {
}
.title {
}
.rent-form {
}
.con-inputs {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.rent-input {
}
.user-comment {
}
.btn-rent {
  width: 122px;
  padding: 14px 0;
  margin-top: 0;
}
