/* common */

.review {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
  }
}

/* reviews */

.reviews {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--semi-dark-color);
}

.reviews-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin-bottom: 25px;
  max-width: 335px;
  margin-right: auto;
  margin-left: auto;
}

.reviews-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  opacity: 0.4;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.reviews-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 24px;
  max-width: 335px;
  min-height: 282px;
  padding: 0 15px 15px;
  background-color: #fbfbfb;
}

.reviews-container.none,
.reviews-container.none-2 {
  display: none;
}

.reviews-img {
  padding-top: 32px;
  margin-bottom: 24px;
}

.reviews-list-subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;
  margin-bottom: 8px;
}

.reviews-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
  width: 100%;
}

@media screen and (min-width: 768px) {
  .review {
    padding-left: 32px;
    padding-right: 32px;
  }

  .reviews {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .reviews-title {
    font-size: 48px;
    max-width: 704px;
  }

  .reviews-text {
    font-size: 14px;
    line-height: 1.29;
    margin-bottom: 75px;
    max-width: 571px;
  }

  .reviews-container {
    width: 336px;
    height: 282px;
  }

  .reviews-list {
    display: flex;
    gap: 32px;
  }

  .reviews-container.none {
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .review {
    padding-left: 50px;
    padding-right: 50px;
  }

  .reviews-title {
    max-width: 854px;
  }

  .reviews-container.none-2 {
    display: flex;
  }

  .reviews-container {
    width: 376px;
    height: 282px;
  }

  .reviews-list {
    gap: 26px;
  }
}
